@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"),
    url("../fonts/Fraunces-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Fraunces", "Barlow", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: #333;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.create-link {
  padding: 15px 31px 16px 31px;
  font-family: "Fraunces";
  background-color: #0e8784;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  transition: 0.3s ease;
}

.create-link:hover {
  opacity: 0.7;
}

.create-link:active {
  background-color: #66d2cf;
}

/* INDEX PAGE */

/* HEADER */
.header {
  padding-top: 43px;
  padding-bottom: 43px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding: 0 2px;
}

.logo {
  transition: 0.3s ease;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.4;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 33px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: 0.2s ease;
}

.nav__link:hover {
  color: #fdd6ba;
}

.nav__link:active {
  color: #333d4b;
}

/* INTRO */

.intro {
  margin-bottom: 136px;
}

.intro__container {
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.intro__content {
  max-width: 576px;
  padding-top: 117px;
  padding-left: 65px;
}

.intro__title {
  max-width: 493px;
  margin-bottom: 32px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.intro__description {
  max-width: 440px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 56px;
}

/* OUR */

.our {
  margin-bottom: 200px;
}

.our__container {
  position: relative;
  text-align: center;
}

.our__title {
  font-family: "Fraunces";
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  text-align: center;
  color: #83888f;
}

.our__title::before {
  content: "";
  position: absolute;
  width: 1111px;
  height: 196px;
  top: -100px;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.our__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.our__item {
  max-width: 256px;
  margin-right: 30px;
  z-index: 1;
}

.our__item:last-child {
  margin-right: 0;
}

.our__item-img {
  margin-bottom: 71px;
}

.our__item-img4 {
  margin-top: 21px;
  margin-bottom: 71px;
  margin-left: auto;
  margin-right: auto;
}

.our__item-title {
  font-family: "Fraunces";
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}

.our__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

/* CHOOSE */

.choose {
  margin-bottom: 440px;
}
.choose__container {
  background-image: url(../img/choose-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 577px;
}
.choose__title {
  font-family: "Fraunces";
  padding-top: 100px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 32px;
}
.choose__description {
  font-family: "Barlow";
  max-width: 540px;
  margin-bottom: 86px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.choose__list {
  display: flex;
  justify-content: center;
}
.choose__item {
  max-width: 350px;
  background-color: #0e8784;
  border-radius: 8px;
  margin-right: 30px;
  padding: 72px 48px 48px 47px;
}

.choose__item:last-child {
  margin-right: 0;
  padding: 83px 48px 48px 47px;
}

.choose__item-img {
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease;
}
.choose__item-img-3 {
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease;
}

.choose__item-img:hover {
  opacity: 0.7;
}
.choose__item-img:active {
  opacity: 0.4;
}

.choose__item-img-3:hover {
  opacity: 0.7;
}
.choose__item-img-3:active {
  opacity: 0.4;
}

.choose__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 24px;
}

.choose__item-text {
  min-width: 255px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

/* WORKS */

.works {
  margin-bottom: 200px;
}
.works__container {
  background-image: url(../img/works-img.svg);
  background-repeat: no-repeat;
  background-position: left 105px top 110px;
  padding-left: 105px;
}
.works__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 178px;
}
.works__list {
  display: flex;
}
.works__item {
  max-width: 285px;
  margin-right: 95px;
}

.works__item:last-child {
  margin-right: 0;
}

.works__item-number {
  margin-bottom: 38px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works__item-title {
  max-width: 255px;
  margin-bottom: 42px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.works__item-text {
  margin-bottom: 64px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

/* FOOTER */

.footer__container {
  background-color: #2c343e;
  padding-top: 47px;
  padding-bottom: 47px;
  display: flex;
}

.footer__logo {
  margin-left: 85px;
  margin-right: 102px;
}

.socials {
  margin-left: 369px;
  display: flex;
}
.socials__item {
  margin-left: 24px;
}
.socials__item:first-child {
  margin-left: 0;
}
.socials__item-link {
  transition: 0.3s ease;
}

.socials__item-link:hover {
  opacity: 0.7;
}

.socials__item-link:active {
  opacity: 0.4;
}

/* ABOUT PAGE */

/* ABOUT INTRO */

.about-intro {
  margin-bottom: 168px;
}
.about-intro__container {
  background-image: url(../img/about-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 450px;
}
.about-intro__content {
  max-width: 445px;
  padding-top: 137px;
  padding-left: 85px;
}
.about-intro__title {
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.about-intro__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

/* ABOUT OUR */

.about-our {
  margin-bottom: 168px;
}

.about-out__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-our__img {
  border-radius: 8px;
  margin-right: 125px;
}

.about-out__content {
  max-width: 540px;
}
.about-out__title {
  margin-bottom: 32px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}
.about-out__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* QUALITY */

.quality {
  margin-bottom: 168px;
}

.quality__container {
  background-color: #2c343e;
  border-radius: 10px;
  position: relative;
}

.quality__content {
  max-width: 605px;
  margin: 0;
  padding-top: 88px;
  padding-bottom: 178px;
  padding-left: 65px;
}

.quality__content::after {
  content: "";
  position: absolute;
  display: block;
  width: 445px;
  height: 474px;
  background-image: url(../img/about-quality.jpg);
  top: -70px;
  right: 85px;
  border-radius: 10px;
}

.quality__title {
  font-family: "Fraunces";
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.quality__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* ABOUT HEADQUARTERS */

.headquarters {
  margin-bottom: 168px;
}

.headquarters__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 72px;
  margin-left: 104px;
}
.headquarters__list {
  display: flex;
  justify-content: center;
}

.headquarters__item {
  width: 285px;
  margin-right: 108px;
}

.headquarters__item:last-child {
  margin-right: 0;
}

.headquarters__item-img {
  margin-right: auto;
  margin-bottom: 45px;
}

.headquarters__item-img:last-child {
  margin-bottom: 48px;
}

.headquarters__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 24px;
}
.headquarters__item-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
