.crate-plan {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #fefcf7;
  padding: 16px 31px;
  background: #0e8784;
  border-radius: 6px;
}

.crate-plan:hover {
  background: #66d2cf;
  border-radius: 6px;
}
